footer
  | #{spec.name}
  |  &ndash;  
  a(href='/spec.json') View Spec
  |  &ndash;  
  span Made with  
    a(href='https://github.com/robb-j/ocelot') Ocelot
  //- |  &ndash;  
  //- if info.name && info.link
  //-   a(href=info.link) #{info.name}
