head
  title #{spec.name}
  script(type='text/javascript', src='/js/app.js')
  //- link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css')
  //- link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css')
