mixin args-table(name, info, arguements)
  .args-table
    table
      thead
        tr
          th.name name
          th.type type
          th.info description
      tbody
        each arg in arguements
          tr
            td.name #{arg.name}
            td.type #{arg.type}
            td.info
              if arg.optional
                span.optional optional
              | #{arg.info}
      
