doctype html
html
  include head.pug
  
  body
    include nav.pug
    
    section.section
      .container
        h1.title Hello, #{spec.name}!
        p.subtitle #{spec.versions.length} version#{spec.versions.length > 1 ? 's' : ''}
    
    include foot.pug
