doctype html
html
  include includes/head.pug
  
  body
    include includes/nav.pug
    
    section.section
      .container
        h1.title Hello, #{spec.name}!
        p.subtitle #{spec.versions.length} version#{spec.versions.length > 1 ? 's' : ''}
    
    include includes/foot.pug
