include includes/mixins


doctype html
html
  head
    title #{spec.name}
    link(rel='stylesheet', href='/css/styles.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lora:400,700|Noto+Sans:400,700|Space+Mono')
    
  
  body
    #webapp
      include includes/header
      include includes/layout
      include includes/footer
    script(type='text/javascript', src='/js/app.js')
