aside.overview
  background lightBg
  border-right 1px solid alpha(primary, 0.05)
  border-bottom 1px solid alpha(primary, 0.05)
  h2
    text-align center
  .group
    h4
      margin-bottom 0.3em
    ul.endpoint-list
      li
        &:hover
          cursor pointer
